{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- 임시로 넣은 사진 -->
 <img src = '{% static "하늘.png" %}' alt = '하늘'  width= '1500px' height="400px"> 
<br>
 <!--리뷰 <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>  -->
{% endblock content %}